@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html,
body {
  overflow: hidden; /* Prevents scrolling on the entire page */
  /* height: 100%; Ensures that the body takes up the full height of the viewport */
  margin: 0; /* Removes default margin */
}

.custom-scrollbar {
  scrollbar-width: none; /* Hide scrollbar by default for Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Hide scrollbar by default for WebKit browsers */
}

.custom-scrollbar:hover {
  scrollbar-width: thin; /* Show thin scrollbar on hover for Firefox */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 8px; /* Show scrollbar on hover for WebKit browsers */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: white; /* Custom scrollbar color on hover */
  border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
  background-color: #333333; /* Custom track color on hover */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.custom-subtle-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4b5563 #1f2937; /* Darker gray for track, slightly lighter for thumb */
}

.custom-subtle-scrollbar::-webkit-scrollbar {
  width: 4px; /* Small scrollbar width */
}

.custom-subtle-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937; /* Track color */
}

.custom-subtle-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Thumb color */
  border-radius: 10px; /* Smooth, rounded scrollbar */
}
